<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1><a href="/">Robot Directory</a></h1>
    <div class="robot_nav">
      <h3><a href="/employed">Currently Employed</a></h3>
      <h3><a href="/looking">Searching for job</a></h3>
    </div>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
