<h1><a href="/">Robot Directory</a></h1>
<div class="robot_nav">
  <h3><a href="/employed">Currently Employed</a></h3>
  <h3><a href="/looking">Searching for job</a></h3>
</div>
<div class="container">

{{#users}}
<a class="robot_container" href="/listing/{{id}}">
        <img src={{avatar}}>
        <h3 class="name">{{name}}</h3>
        {{#job}}
          <h4>{{job}}</h4>
          <h4>{{company}}</h4>
        {{/job}}
        {{^job}}
          <h4 class="needsJob">Available for Hire</h4>
        {{/job}}
      </a>
{{/users}}
