<div class="form_container">
  <form class="login_section" action="/" method="post">
    <h2>Log In</h2>
    <div class="flex_login">
      <input type="username" name="" placeholder="Username">
      <input type="password" name="" placeholder="Password">
      <button type="submit" name="button">Log In</button>
    </div>
  </form>
  <form class="signup_section" action="/signup" method="Post">
    <h2>Sign up</h2>
  <input type="text" name="name" placeholder="Name">
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="text" name="university" placeholder="University">
  <input type="text" name="company" placeholder="Company">
  <input type="text" name="job" placeholder="Job">
  <input type="text" name="skills" placeholder="Skills">
  <input type="text" name="phone" placeholder="Phone">
  <div class="address">
    <input type="text" name="streetNum" placeholder="Street Number">
    <input type="text" name="streetName" placeholder="Street Name">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State or Province">
    <input type="text" name="postal" placeholder="Postal Code">
    <input type="text" name="country" placeholder="Country">
  </div>
  <button type="submit" name="button">Sign Up</button>
  </form>
</div>
